.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

h2{
    font-family: sans-serif;
}
.noticias {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noticia-item {
    display: none;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}


.noticia-item:first-child {
    display: block; /* Mostrar la primera noticia por defecto */
}